body{
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(1fr, 2fr, 1fr);
}

#gameScreen {
  display: grid;
  grid-template-rows: 3fr 8fr 3fr 3fr;
  justify-content: center;
  height: 99vh;
  align-items: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 2em);
  grid-template-rows: repeat(3, 2em);
  font-size: 6em;
  font-weight: bold;
  align-content: center;
  height: fit-content;
  position: relative;
  font-family: "Tillana", cursive;
}
.square {
  text-align: center;
  justify-content: center;
  border: black 1px solid;
}
button{
  height: 3rem;
  border-radius: 1rem;
  grid-row-start: 1;
}

#alertBox{
  text-align: center;
}

.scoreBox{
  text-align: center;
}

/* #grid::before{
    content: '';
    border: 10px rgb(255, 255, 255) dotted;
    position: absolute;
    height: calc(6em - 10px);
    width: calc(6em - 10px);
    margin: 0em;
    top: -5px;
    left: -5px;
} */
